$bg-red: rgba(245, 95, 57, 1);
$bg-grey: rgba(184, 189, 201, 1);
$bg-blue: rgba(37, 32, 97, 1);

$text-green: rgba(43, 202, 139, 1);
$text-white: rgba(255, 255, 255, 1);
$text-black: rgba(0, 0, 0, 1);

$shadow-dark: rgba(0, 0, 0, 0.4);
